<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (errorMessage) { %>
                <div class="error-message">
                    <%= errorMessage %>
                </div>
                <% } %>

                    <div class="login-container">
                        <div class="login-form">
                            <h2>Zaloguj się</h2>
                            <form action="/login" method="POST">
                                <div class="form-group">
                                    <label for="email">Adres e-mail</label>
                                    <input type="email" id="login-email" name="email" required
                                        value="<%= oldInput.email %>"
                                        class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>">
                                </div>
                                <div class="form-group">
                                    <label for="password">Hasło</label>
                                    <input type="password" id="login-password" name="password" required
                                        value="<%= oldInput.password %>"
                                        class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>">
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="login-button">Zaloguj się</button>


                            </form>
                            <a href="/signup">Nie masz konta? Zarejestruj się</a>
                        </div>
                        <div class="image-container"></div>
                    </div>
        </main>
        <%- include('../includes/end.ejs') %>